#news{
    width:1100px;
    padding:30px 0;
    display: table;
    margin:auto;
}
#news .n_left{
    float: left;
    width: 790px;
    display: table;
    margin-bottom: 40px;
}
.n_left .new-ul li{
    width: 790px;
    height: 160px;
    padding: 15px 0;
    border-bottom:1px solid #e5e5e5;
}
.n_left .new-ul li:last-child{
    border-bottom: none;
}
.article-list{
    display: inline-block;
    width:540px;
    margin-left: 10px;
    height: 160px;
    color:#333;
}
.article-list>a:hover,.article-list>a{
    color:#333;
}
.art_list .img{
    display: inline-block;
    width:226px ;
    height: 156px;
    background-size: 100%;
}
.cont .hd{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size:18px;
    font-weight:600;
}
.cont .content{
    width: 100%;
    height:104px;
    overflow: hidden;
    font-size: 14px;
    color:#8f8f8f;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.cont .hd:hover,.cont .content:hover{
    color:#DE3C3C;

}
.cont .time{
    display:  block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color:#999;
}

.n_right{
    float: right;
    width:220px;
    display: table;
    padding: 20px;
    margin-left: 49px;
}
.n_right .right-hd{
    width:100%;
    height: 28px;
    line-height: 28px;
    font-size:20px;
    font-weight:600;
    text-indent: 10px;
    border-left: 6px solid #DE3C3C;
}

.recommend-ul>li{
    width: 220px;
    height: 152px;
    padding: 10px 0;

}
.recommend-ul>li a{
    display: block;
    position: relative;
    width: 220px;
    height:152px;
}
.re-list .img{
    display: inline-block;
    width:220px ;
    height: 152px;
    background-size: 100%;
}
.recommend-ul .title{
    position: absolute;
    width: 220px;
    left:0;
    bottom: 0;
    height:30px;
    line-height:30px;
    background: #000;
    color:#fff;
    text-align: center;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.re-list a:hover span{
    text-decoration: underline;
}
.page{
    float: left;
    width: 1100px;
    height:36px;
    left:0;
}
.page-ul{
    display: inline-block;
    /*width:790px;*/
    height:36px;
}
.skip{
    display: inline-block;
    width: 120px;
    margin-left: 10px;
}
.skip .in-skip{
    width: 30px;
    height:27px;
    padding: 0 5px;
    border:1px solid #e5e5e5;
}
.skip .btn-skip{
    width: 60px;
    height:27px;
    margin-left: 10px;
    border:1px solid #DE3C3C;
    border-radius: 5px;
    background: #DE3C3C;
    color:#fff;
    outline: none;
}
.skip .btn-skip:hover{
    opacity: 0.6;
}
.page-ul>li{
    display: inline-block;
    padding:3px 8px;
    margin-right:10px;
    border:1px solid #e5e5e5;
    cursor:pointer;
    margin-bottom: 10px;
}
.page-ul li.on{
    background: #DE3C3C;
    border-color: #DE3C3C;
    color:#fff;
}
.page-ul li:hover{
    background: #DE3C3C;
    border-color: #DE3C3C;
    color:#fff;
}
.page-ul .page_li.no:hover{
    background: #fff;
    border-color: #e5e5e5;
    color:#666;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
