
.fullSlide {
    width: 100%;
    position: relative;
    height: 416px;
    background: #f6f5f6;
    border: 0;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 416px;
    overflow: hidden;
    text-align: center;
}

.fullSlide .bd li a {
    display: block;
    height: 416px;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 42px;
    height: 2px;
    margin: 3px;
    overflow: hidden;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    background: #f00;
}

.fullSlide .prev,
.fullSlide .next {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    left: 10%;
    z-index: 1;
    width: 40px;
    height: 60px;
    background: url(../image/slider-arrow.png) -126px -137px #000 no-repeat;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
}

.fullSlide .next {
    left: auto;
    right: 10%;
    background-position: -6px -137px;
}

  .jinh {
      width: 1060px;
      margin: 0 auto;
      margin-top: 50px;
      padding-bottom: 302px;
  }

.jinh_one {
    font-size: 18px;
    color: #282828;
    height: 30px;
    text-align: center;
    line-height: 28px;
    background: url(../image/n2.png) no-repeat center;
    font-weight: bold;
}

.jinh_two {
    text-align: center;
    font-size: 14px;
    color: #000;
    margin-top: 0px;
    line-height: 25px;
}

.jinh_th {
    padding-left: 20px;
    padding-right: 20px;
}

.jinh .imgl {
    width: 203px;
    margin-left: 17px;
    margin-right: 35px;
    display: block;
    float: left;
    margin-top: 30px;
}

.jinh .imgleft {
    width: 260px;
    text-align: center;
}

.jinh .imgleft_name {
    font-size: 10px;
    color: #4a4a4a;
    margin-top: 10px;
    line-height: 25px;
    white-space: nowrap;
    font-family: arial;
    overflow: hidden;
    font-weight: bold;
}

.jinh .imgleft_one {
    font-size: 10px;
    color: #000;
    margin-top: 3px;
    text-align: center;
    line-height: 18px;
    width: 260px;
    font-family: arial;
    letter-spacing: 0;
}

.jinh .imgleft_two {
    font-size: 16px;
    color: #8F8F8F;
    margin-top: 6px;
    text-align: center;
    line-height: 13px;
    letter-spacing: 2.3px;
}

.jinright{
    float: right;
    width: 706px;
    height: 100%;
    padding-bottom: 50px;
    background: #FFFFFF;
    border: 1px solid #e8e8e8;
}

.shic {
    width: 100%;
    height: 328px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-top: 80px;
}

.shic_q {
    width: 960px;
    margin: 0 auto;
}

.shic_img {
    background: url(../image/n7.png);
    width: 388px;
    height: 328px;
    float: right;
}

.shic_t {
    width: 430px;
    float: left;
    margin-left: 20px;
}

.shic_t1 {
    font-size: 30px;
    color: #282828;
    margin-top: 100px;
    letter-spacing: 0px;
    line-height: 33px;
}

.shic_t2 {
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 15px;
    line-height: 24px;
    text-indent: 2em;
}

.shic_t3 {
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 10px;
    line-height: 20px;
    text-indent: 2em;
}

.hezuo {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    margin-top: 70px;
    height: 568px;
    margin-top: 98px;
}

.hezuo_con {
    width: 960px;
    margin: 0 auto;
}

.hezuo_net {
    padding-left: 20px;
    padding-right: 20px;
}
.hezuo_img {
    line-height: 25px;;
    font-size: 16px;
    color: #000;
    height: 58px;
    padding-left: 20px;
    line-height: 30px;
}
.hezuo .img2 {
    width: 180px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.hezuo .img3 {
    width: 180px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

body,
td,
th {
    font-size: 14px;
}



 .jindian {
     width: auto;
     height: 430px;
     background-color: #F7F7F7;
 }

.jindian_bg {
    width: auto;
    height: 386px;
    background: url(../image/ne4.png) repeat-x;
    background-position: 0 88px;
}

.jindian1 {
    width: 960px;
    margin: 0 auto;
}

.jindian_t1 {
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    margin: auto;
    color: #282828;
    padding-top: 35px;
    border-bottom: 3px solid #AAAAAA;
    width: 406px;
    height: 54px;
}

.jindian_t2 {
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    color: #8F8F8F;
    padding-top: 25px;
    letter-spacing: 2px;
}

.jindianimg {
    padding-top: 25px;
    width: 960px;
    padding-left: 55px;
    padding-right: 55px;
}

.jindian_img1 {
    display: block;
    float: left;
    padding-top: 49px;
}

.jindian_img2 {
    display: block;
    float: left;
    padding-left: 49px;
    padding-right: 49px;
}
.hezuo_net .img2 {
    width: 180px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}
.tel-logo img{
    margin-bottom: -4px;
}
