
.a1{
	
font-size:16px;
color:#000000;
letter-spacing:0px;
text-align:left;margin-left:15px; 
line-height:30px;
margin-top:10px;
}
			   .bannerbox {
            width:100%;
            position:relative;
            overflow:hidden;
            height:252px;
        }
        .banner {
            width:1920px; /*图片宽度*/
            position:absolute;
            left:50%;
            margin-left:-960px; /*图片宽度的一半*/
        }
a img{border:none}
.testTXT{
	
font-size:16px;
color:#4a4a4a;
letter-spacing:0px;
text-align:justify; margin-left:50px; margin-top:42px;
height:22px;
line-height:20px;
padding-left:22px;
background: url(../image/address.png) no-repeat left center
}
.txt1{
font-size:20px;
color:#282828;
letter-spacing:0px;
text-align:left;
margin-left:50px;
 margin-top:35px;}
.txt2{font-size:14px;color:#4a4a4a;
letter-spacing:0px;line-height:16px;
text-align:left; margin-left:24px;margin-top:15px;margin-right:24px; margin-right:50px;}

.txt3{font-size:16px;color:#4a4a4a;letter-spacing:0px;
line-height:21px;text-align:left; margin-left:24px;margin-top:20px;margin-right:24px; margin-right:50px;}

.txt4{
font-size:12px;
color:#8f8f8f;
letter-spacing:0px;
text-align:left; margin-left:87px;margin-top:5px; line-height: 15px;}
.txt5{ text-indent: 2em; }
.t1{font-size:24px;color:#d02121;text-align:left; margin-left:24px; margin-top:30px;height:30px;line-height:35px;padding-left:19px;background: url(../image/r1.png) no-repeat left center;}
.t2{ font-size:16px;line-height:18px; color:#000000; background:url(../image/jin5.png) no-repeat left center; margin-left:24px; padding-left:14px; margin-top:35px; margin-bottom:5px;}

.t3{ color: #4A4A4A;line-height: 20px; font-size: 14px;}

.t4{font-size:14px; color:#4A4A4A;line-height: 20px; }
.t5{ font-size:16px;line-height:18px; color:#000000; }

.t{line-height:20px;font-size:14px;color:#4a4a4a;text-align:left; margin-right:50px; margin-left:24px; margin-top:15px;text-indent:2em;}
.jinright{float: right;width: 706px;height: 100%; padding-bottom:50px;background:#FFFFFF;border:1px solid #e8e8e8;}


